*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: -0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.1),
    -0.6px 1.7px 2.1px -2.1px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-medium: -0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.09),
    -0.8px 2.4px 3px -1px hsl(var(--shadow-color) / 0.1),
    -2.9px 8.6px 10.8px -2.1px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-high: -0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.08),
    -1.1px 3.3px 4.1px -0.4px hsl(var(--shadow-color) / 0.09),
    -2.2px 6.6px 8.2px -0.8px hsl(var(--shadow-color) / 0.09),
    -4.1px 12.2px 15.3px -1.3px hsl(var(--shadow-color) / 0.1),
    -7.3px 21.7px 27.1px -1.7px hsl(var(--shadow-color) / 0.1),
    -12.4px 37px 46.2px -2.1px hsl(var(--shadow-color) / 0.11);

  --primary-bgc: #fefefa;
}

body {
  font-family: "Roboto", "Poppins", "Rubik" system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  background-color: var(--primary-bgc);
}

/* Header start */

.wrapper-header {
  display: flex;
  justify-content: center;
  font-family: "Poppins", "Roboto", sans-serif;
}

.wrapper-header-skew {
  --skew-angle: -8deg;
  --translate-y: -150px;
  --scale-y: 1.3;
  --gradient-color: linear-gradient(
    to left top,
    #0044af,
    #006ecd,
    #0093d7,
    #00b5d5,
    #23d4cf
  );
  position: relative;
  isolation: isolate;
}

.wrapper-header-skew::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--gradient-color);
  transform: skewY(var(--skew-angle)) translateY(var(--translate-y))
    scaleY(var(--scale-y));
  -webkit-box-shadow: var(--shadow-elevation-medium);
  -moz-box-shadow: var(--shadow-elevation-medium);
  box-shadow: var(--shadow-elevation-medium);
}

.wrapper-header-img {
  transform: translate(2px, 0px);

  text-align: center;
  z-index: 10;
}

.header-img {
  margin: 2.5em 0 0 3.5em;
  z-index: 2;
  -webkit-box-shadow: var(--shadow-elevation-high);
  -moz-box-shadow: var(--shadow-elevation-high);
  box-shadow: var(--shadow-elevation-high);
}

.wrapper-header-img > div {
  color: white;
  position: relative;
  top: -14%;
  left: 7%;
}

h2 {
  font-family: "Poppins", "Roboto", sans-serif;
}

.wrapper-about {
  font-family: "Rubik", "Roboto", "Poppins" sans-serif;
  position: relative;
  right: 30px;
  background-color: var(--primary-bgc);
  padding: 2em;
  margin: 3.8em 0;
  width: 80%;
  max-width: 2000px;
  z-index: 1;
  -webkit-box-shadow: var(--shadow-elevation-medium);
  -moz-box-shadow: var(--shadow-elevation-medium);
  box-shadow: var(--shadow-elevation-medium);
}

.wrapper-icon {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  padding-right: 2.5em;
}

.wrapper-icon > a > * {
  height: 60px;
}

/* Header end */

/* Main start */
main {
  margin-block: 3em;
}

.wrapper-main {
  font-family: "Rubik", "Roboto", sans-serif;
  display: grid;
  gap: 1.5em;
  padding: 0 2em;
  grid-template-areas:
    "h2 h2 h2"
    "pjct pjct pjct"
    "pjct pjct pjct";
}

h2 {
  grid-area: h2;
  margin: 0;
  z-index: 20;
}

.wrapper-project {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  background-color: var(--primary-bgc);
  -webkit-box-shadow: var(--shadow-elevation-medium);
  -moz-box-shadow: var(--shadow-elevation-medium);
  box-shadow: var(--shadow-elevation-medium);
}

.wrapper-project-about {
  border-top: 1px solid gray;
  padding: 0.5em;
  display: grid;
  grid-template-areas:
    "name name icon icon"
    "text text text text";
}

.project-about-icons {
  grid-area: icon;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-about-icons > a > * {
  height: 30px;
}

h3 {
  margin: 0;
  grid-area: name;
  font-family: "Poppins";
}

.wrapper-project-about > p {
  grid-area: text;
  font-size: 14px;
  margin-top: 0;
}

/* Main end */

/* Footer start */

.footer {
  background: linear-gradient(
    to right bottom,
    #0044af,
    #006ecd,
    #0093d7,
    #00b5d5,
    #23d4cf
  );
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2em;
  gap: 2em;

  font-family: "Rubik", "Roboto", sans-serif;
}

.footer-left {
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 0;
  font-size: 40px;
  font-family: "Poppins", "Roboto", sans-serif;
}

.footer-left p:nth-child(3) {
  margin-bottom: 0;
}

.footer-left p:nth-child(4) {
  margin-top: 0;
}

.footer-left > a {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 0.5em;
  margin-block: 0.5em;
}

/* phone and mail svg */
.footer-left > a > svg {
  width: 30px;
  fill: #fff;
}

.wrapper-footer-icon {
  margin-block: 1.5em;
  display: flex;
  justify-content: start;
  gap: 2.5em;
}

.wrapper-footer-icon > * {
  width: 80px;
  fill: #fff;
}

.github-img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(358deg)
    brightness(105%) contrast(106%);
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: start;
}

.footer-right > img {
  width: 100%;
}

/* Tablet layout */
@media screen and (max-width: 900px) {
  /* Header start */
  .wrapper-header {
    align-items: center;
  }

  .wrapper-header-img {
    margin-left: 3.5em;

    transform: translate(15%, -15%);
  }

  .wrapper-header-img > div {
    top: -90px;
  }

  .wrapper-about {
    min-width: 600px;
    transform: translate(-30%, 0);
  }

  .float-box {
    float: left;
    width: 250px;
    height: 350px;
  }

  /* Header end */

  /* Main start */
  .wrapper-main {
    grid-template-areas: "h2 h2";
  }
  /* Main end */

  /* Footer start */
  .footer-left {
    margin-left: 0;
  }
  /* .footer-right {
     min-width: 360px; 
    padding-right: 1em;
  } */

  /* Footer end */
}

/* Phone layout */
@media screen and (max-width: 700px) {
  /* Header start */
  .wrapper-header-skew::after {
    transform: translateY(-600px) skewY(-12deg);
  }
  .wrapper-header {
    flex-direction: column;
    align-items: center;
  }

  .wrapper-header-img {
    padding: 1em;
    margin: 0;
    transform: translate(0, 180px);
  }

  .header-img {
    margin: 0;
    max-width: 280px;
    /* max-height: 400px;
    text-wrap: wrap;
    display: flex; */
  }

  h1 {
    transform: translate(-10px, -60px);
    max-width: 200px;
    text-align: start;
  }

  .wrapper-about {
    transform: translateX(1.5em);
    min-width: 320px;
    /* max-height: 600px; */
    padding: 1em;
    margin-block: 0.5em;
    box-shadow: none;
  }

  .wrapper-about > p {
    min-width: 80%;
  }

  .float-box {
    width: 0;
    height: 0;
  }

  .wrapper-icon {
    justify-content: space-evenly;
    padding: 0.5em;
  }
  /* Header end */
  /* Main start */

  h2 {
    text-align: center;
  }
  .wrapper-main {
    grid-template-areas: "h2";
    padding: 1em;
  }
  /* Main end */
  /* Footer start */
  .footer {
    grid-template-columns: auto;
    padding: 0;
  }

  .footer-left {
    padding: 1em;
  }

  .wrapper-footer-icon {
    justify-content: space-evenly;
  }
  /* Footer end */
}
