*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

header {
  margin-bottom: 4rem;
}

.wrapper-header {
  margin-inline: auto;

  display: flex;
  justify-content: flex-end;
  gap: 0;
}

.wrapper-header-skew {
  --skew-angle: -12deg;
  --translate-y: -145px;
  --gradient-color: linear-gradient(
    to left top,
    #0044af,
    #006ecd,
    #0093d7,
    #00b5d5,
    #23d4cf
  );
  position: relative;
  isolation: isolate;
}

.wrapper-header-skew::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--gradient-color);
  transform: skewY(var(--skew-angle)) translateY(var(--translate-y));
  /* height: 500px; */
}

.header-img {
  margin: 2.5em 0 0 3.5em;
  z-index: 2;
}

h1 {
  position: absolute;
  z-index: 3;
  top: 400px;
  right: 940px;
  text-wrap: nowrap;
  border: 1px solid black;
}

.wrapper-about {
  position: relative;
  right: 30px;
  background-color: #fff;
  padding: 2em;
  margin: 3.8em 0;
  border: 1px solid black;
  width: 80%;
  max-width: 2000px;
  z-index: 1;
}

.wrapper-icon {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

/* Header end */

/* Main start */

.wrapper-main {
  display: grid;
  gap: 2em;
  padding: 0 2em;
  grid-template-areas:
    "h2 h2 h2"
    "pjct pjct pjct"
    "pjct pjct pjct";
  margin-block: 2em;
}

h2 {
  grid-area: h2;
  margin: 0;
}

.wrapper-project {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0 auto;
  max-width: 400px;
  max-height: 400px;

  border: 1px solid gray;

  -webkit-box-shadow: 0px 20px 37px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 37px -31px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 37px -31px rgba(0, 0, 0, 0.75);
}

.wrapper-project-about {
  border-top: 1px solid gray;
  padding: 0.5em;
  gap: 1em;
  display: grid;
  grid-template-areas:
    "name name icon icon"
    "text text text text";
}

.project-about-icons {
  grid-area: icon;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h3 {
  margin: 0;
  grid-area: name;
}

.wrapper-project-about > p {
  grid-area: text;
  font-size: 14px;
  margin-top: 0;
}
